@charset "UTF-8";

body {
  background: #292929;
  color: #fff;
  position: relative;
}

.section_title {
  font-family: "Gotham Pro Medium";
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  text-align: center;
}

.section_subtitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Gotham Pro Light";
  font-weight: 300;
  letter-spacing: 0.18px;
  max-width: 570px;
  color: #c6c6c6;
  margin-bottom: 100px;
}

.section_subtitle_big {
  font-family: "Gotham Pro Medium";
  font-weight: 500;
  letter-spacing: 0.18px;
  color: #ffffff;
}

hr {
  background-color: #4c4c4c;
  margin-bottom: 99px;
}

.bg-img_1 {
  position: absolute;
  background: url("../img/bg/bg-flower_1.png") center no-repeat;
  background-size: cover;
  top: 0;
  /* right: 737px */
  right: 40%;
  width: 39px;
  height: 24px;
  z-index: -1;
}

.bg-img_2 {
  position: absolute;
  background: url("../img/bg/bg-flower_2.png") center no-repeat;
  background-size: cover;
  top: 148px;
  /* top: 17% */
  /* left: 295px */
  left: 16%;
  width: 93px;
  height: 153px;
  z-index: -1;
}

.bg-img_3 {
  position: absolute;
  background: url("../img/bg/bg-flower_3.png") center no-repeat;
  background-size: cover;
  top: 409px;
  /* top: 45% */
  /* right: 160px */
  right: 10%;
  width: 71px;
  height: 61px;
  z-index: -1;
}

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 22px;
}

.slider-arrow_main_left {
  width: 8px;
  height: 14px;
  background: url("../img/main/slider/main_slider_arrow-left.png") center no-repeat;
  left: 0;
  top: 40%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-arrow_main_left:hover {
  background: url("../img/main/slider/main_slider_arrow-left-active.png");
  cursor: pointer;
}

.slider-arrow_main_right {
  width: 8px;
  height: 14px;
  background: url("../img/main/slider/main_slider_arrow-right.png") center no-repeat;
  right: 0;
  top: 40%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-arrow_main_right:hover {
  background: url("../img/main/slider/main_slider_arrow-right-active.png");
  cursor: pointer;
}

.slider-arrow_advantages_left {
  width: 21px;
  height: 34px;
  background: url("../img/advantages/clients/slider/advantages-slider_arrow-left.png") center no-repeat;
  left: 0;
  top: 40%;
}

.slider-arrow_advantages_left:hover {
  cursor: pointer;
}

.slider-arrow_advantages_right {
  width: 21px;
  height: 34px;
  background: url("../img/advantages/clients/slider/advantages-slider_arrow-right.png") center no-repeat;
  right: 0;
  top: 40%;
}

.slider-arrow_advantages_right:hover {
  cursor: pointer;
}

.button {
  border: 3px solid transparent;
  background-color: #ff2e55;
  color: #ffffff;
  font-family: "Gotham Pro Regular";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}

.button:hover {
  -webkit-box-shadow: 0 0 16px rgba(242, 72, 65, 0.39);
  box-shadow: 0 0 16px rgba(242, 72, 65, 0.39);
  border: 3px solid #ff2e55;
  background-color: #ff1844;
  cursor: pointer;
}

.header {
  height: 150px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 77px;
}

.header_img {
  margin-top: 17px;
  width: 156px;
  height: 40px;
  background: url("../img/header/header_logo.png");
  margin-left: auto;
  margin-right: auto;
}

.header_text {
  margin-top: 17px;
  width: 119px;
  font-size: 11px;
  font-weight: 300;
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  color: #dfdfdf;
  margin-left: auto;
  margin-right: auto;
}

.header_text-link {
  color: #ff3469;
  font-family: "Gotham Pro Medium";
  font-weight: 500;
  letter-spacing: 0.12px;
  text-decoration: none;
}

.header_text-link:hover {
  color: #e7003c;
  text-decoration: none;
}

.header-contacts_phone {
  font-family: "Gotham Pro Regular";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #fff;
}

.header-contacts_phone:hover {
  color: #d1d1d1;
  text-decoration: none;
}

.header-contacts_phone_text {
  color: #9b9b9b;
  font-family: "Gotham Pro Regular";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.header-contacts_phone_text_link {
  color: #d70038;
  font-family: "Gotham Pro Regular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-decoration: underline;
}

.header-contacts_phone_text_link:hover {
  color: #c30033;
  text-decoration: none;
}

.main {
  text-align: center;
  margin-bottom: 77px;
}

.main-slider {
  margin-bottom: 65px;
}

.main-slider_item {
  height: 90px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-slider_item_img {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 90px;
}

.main_suggestion {
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Gotham Pro Regular";
  letter-spacing: 0.19px;
  text-align: center;
  margin-bottom: 36px;
}

.main_suggestion-bold {
  font-family: "Gotham Pro Medium";
  font-weight: 500;
}

.main_button {
  width: 300px;
  height: 70px;
}

.advantages_title {
  font-family: "Gotham Pro Regular";
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 96px;
}

.advantages-slider {
  margin-bottom: 98px;
}

.advantages-slider_img {
  width: 220px;
  height: 220px;
  background: url("../img/advantages/clients/client-img.png");
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages-slider_img_text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Gotham Pro Medium";
}

.advantages-slider_img_text_town {
  font-family: "Gotham Pro Regular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.advantages-slider_text {
  max-width: 481px;
  font-family: "Gotham Pro Regular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.advantages-slider_text-link {
  color: #f24841;
  text-decoration: underline;
}

.advantages-slider_text-link:hover {
  color: #f03129;
}

.features-blocks {
  margin-bottom: 101px;
}

.features-blocks .features-block {
  text-align: center;
}

.features-blocks .features-block_img {
  max-height: 66px;
  max-width: 66px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.features-blocks .features-block_img img {
  height: 100%;
  width: 100%;
}

.features-blocks .features-block_descr {
  width: 221px;
  color: #ffffff;
  font-family: "Gotham Pro Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-left: auto;
  margin-right: auto;
}

.features-blocks .features-block_descr_last {
  width: 262px;
}

/* Медиа запрос до 992 пикселей */

@media (max-width: 991px) {
  .hidden-mobile {
    display: none;
  }

  .header_text-link:hover {
    color: #ff3469;
  }

  .header-contacts_phone:hover {
    text-decoration: none;
    color: #fff;
  }

  .header-contacts_phone_text_link:hover {
    color: #d70038;
    text-decoration: underline;
  }

  .slider-arrow_main_right:hover {
    -webkit-transition: 0;
    transition: 0;
    background: url("../img/main/slider/main_slider_arrow-right.png");
  }

  .slider-arrow_main_left:hover {
    -webkit-transition: 0;
    transition: 0;
    background: url("../img/main/slider/main_slider_arrow-left.png");
  }

  .advantages-slider_text {
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
  }

  .advantages-slider_img {
    margin-bottom: 15px;
  }
}

/* Медиа запрос до 768 пикселей */

@media (max-width: 768px) {
  .header {
    height: 250px;
  }

  .header-contacts_phone {
    font-size: 18px;
  }

  .section_title {
    font-size: 26px;
  }

  .section_subtitle {
    font-size: 16px;
    max-width: 360px;
  }
}

/* Медиа запрос до 576 пикселей */

@media (max-width: 576px) {
  .main_button {
    width: 250px;
    height: 60px;
    font-size: 17px;
  }
}

* {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}